--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
redis
duckdb
diffprivlib
sentence-transformers
streamlit
numpy
pandas
plotly
requests
google-generativeai
python-dotenv
chromadb
xgboost
